<app-header>
</app-header>
<main>
    <div class="panel_wrapper">
        <app-panel-card
            [title]="conteudo[0].title"
            [cardContent]="conteudo[0].content"
        >
        </app-panel-card>
        <app-panel-card
            [title]="conteudo[1].title"
            [cardContent]="conteudo[1].content"
        >
        </app-panel-card>
        <app-panel-card
            [title]="conteudo[2].title"
            [cardContent]="conteudo[2].content"
        >
        </app-panel-card>
    </div>
</main>
<app-footer></app-footer>